{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1"> 
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css" integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>About</title>
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'favicon.ico' %}">

    <link rel="stylesheet" type="text/css" href="{% static 'about.css' %}">
    <!-- <script src="main.js"></script> -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@700&family=Open+Sans&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <div class="navbar">
            <div class="logo  hvr-underline-from-center"><h2 class="heading">About</h2></div>
            <ul class="links  ">
                <li class="hvr-float-shadow"><a href="{% url 'myapp:home' %}">Home</a></li>
                <li class="hvr-float-shadow"><a href="{% url 'myapp:about' %}">About</a></li>
                <li class="hvr-float-shadow"><a href="{% url 'myapp:skill' %}">Skills</a></li>
                <li class="hvr-float-shadow"><a href="{% url 'myapp:contact'%}">Contact</a></li>
            </ul>
            <!-- <a href="#" class="action_btn">Get Started</a> -->
            <div class="toggle_btn">
                <i class="fa-solid fa-bars"></i>
            </div>
        </div>
        <div class="content1">
            <ul>
                <h2 class="name ">Personal Details</h2><br>
        
                <li><p class="edu">Full name: Vikraman Mathivanan</p></li>
                <li><p class="edu">Date of Birth: 30/03/2002</p></li>
                <li><p class="edu">Phone: +91 9514531375</p></li>
                <li><p class="edu">City: Villupuram, India</p></li>
                <li><p class="edu">Email: <a href="#">vikiadhi2016@gmail.com</a></p></li><br> 

                <h2 class="name">Education</h2> <br>
                <li><p class="edu">DIPLOMA IN HEALTH INSPECTOR</p></li>
                <li><p class="year edu">2019 - 2022</p></li>
                <li><p class="edu"> HSC - BIOLOGY & MATHEMATICS</p></li>
                <li><p class="year edu">2018 - 2019</p></li>
                <li><p class="edu">SSLC - GENERAL</p></li>
                <li><p class="year edu">2016 - 2017</p></li>
            </ul>
   
           
        </div> 

        <div class="projects">
            <ul>
                <h2 class="name">Projects</h2><br>
                <li><p class="top"><span><i class="fa-solid fa-arrow-right arrow"></i></span> Amazon product alert project with web Scraping(Selenium).</p></li><br>
                <li><p class="bot"><span><i class="fa-solid fa-arrow-right arrow"></i></span> Worked in Data analysis projects with Pandas, Matplotlib.</p></li><br>
                <li><p class="top"><i class="fa-solid fa-arrow-right arrow arrow"></i></span> Personal portfolio site with CSS, HTML, Bootstrap. </p></li><br>
                <li><p class="bot"><i class="fa-solid fa-arrow-right arrow"></i></span> Blog Post Website using Flask, WTF Forms.</p></li><br>
                <li><p class="top"><i class="fa-solid fa-arrow-right arrow"></i></span> Familiar with API's and creating RESTFUL API.</p></li><br>
                <li><p class="bot"><i class="fa-solid fa-arrow-right arrow"></i></span> Games : Tic Tac Toe , Snake Game, Hang Man etc.</p></li><br>
                <li><p class="top"><i class="fa-solid fa-arrow-right arrow"></i></span> And This Portfolio Website was built with Django.</p></li>
            </ul>
        </div>



        <div class="dropdown_menu">
            <ul class="links">
                <li><a href="{% url 'myapp:home' %}">Home</a></li>
                <li><a href="{% url 'myapp:about' %}">About</a></li>
                <li><a href="{% url 'myapp:skill' %}">Skills</a></li>
                <li><a href="{% url 'myapp:contact' %}">Contact</a></li>
                <!-- <li><a href="#" class="action_btn">Get Started</a></li> -->
            </ul>  
            <button class="net-btn1  hvr-radial-out"><a href="https://www.linkedin.com/in/vikraman-m-4067b5252"></a><i class="fa-brands fa-linkedin"></i></button>          
            <button class="net-btn2  hvr-radial-out"><a href="https://www.instagram.com/romanviki_nbd/"></a><i class="fa-brands fa-instagram"></i></i></button>
            <button class="net-btn3  hvr-radial-out"><a href="https://github.com/ROMANVIKI"></a><i class="fa-brands fa-github"></i></button>          
        </div>
        
    
    </header>
    <script>
        const toggleBtn = document.querySelector('.toggle_btn')
        const toggleBtnIcon = document.querySelector('.toggle_btn i')
        const dropDownMenu = document.querySelector('.dropdown_menu')

        toggleBtn.onclick = function () {
            dropDownMenu.classList.toggle('open')
        }
    </script>
</body>
</html>