{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1"> 
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css" integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>Contact</title>
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'favicon.ico' %}">

    <link rel="stylesheet" type="text/css" href="{% static 'contact.css' %}">
    
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@700&family=Open+Sans&display=swap" rel="stylesheet">
    <style>
        body {
            background-image: url("{% static 'mn.jpg' %}");
        }
    </style>
</head>
<body>
    <header>
        <div class="navbar">
            <div class="logo  hvr-underline-from-center"><h2 class="heading">Contact</h2></div>
            <ul class="links  ">
                <li class="hvr-float-shadow"><a href="{% url 'myapp:home' %}">Home</a></li>
                <li class="hvr-float-shadow"><a href="{% url 'myapp:about' %}">About</a></li>
                <li class="hvr-float-shadow"><a href="{% url 'myapp:skill' %}">Skills</a></li>
                <li class="hvr-float-shadow"><a href="{% url 'myapp:contact' %}">Contact</a></li>
            </ul>
            <!-- <a href="#" class="action_btn">Get Started</a> -->
            <div class="toggle_btn">
                <i class="fa-solid fa-bars"></i>
            </div>
        </div>
        <div class="contact-box">
            <h2>Text Me!</h2>
            <form method="post" action="">
                {% csrf_token %}
                
                <div class="user-box">
                    <!-- {{ form.as_p }} -->
                    {{ form.name }}
                    <!-- <input type="text" name="" required> -->
                     <label for="">Name</label>
                </div>
                <div class="user-box">
                    {{ form.email }} 
                    <!-- <input type="email" name="" required> -->
                    <label for="">Your Email</label>
                </div>
                <div class="user-box">
                    {{ form.message }}
                    <!-- <input type="text" name="" required> -->
                    <label for="">Your Message</label>
                </div>
                <button class="cybr-btn">
                    <button class="custom-btn btn-6"><span>Submit</span></button>
                </button>
            </form>

        </div>

        <div class="dropdown_menu">
            <ul class="links">
                <li><a href="{% url 'myapp:home' %}">Home</a></li>
                <li><a href="{% url 'myapp:about' %}">About</a></li>
                <li><a href="{% url 'myapp:skill' %}">Skills</a></li>
                <li><a href="{% url 'myapp:contact' %}">Contact</a></li>
                <!-- <li><a href="#" class="action_btn">Get Started</a></li> -->
            </ul>  
            <button class="net-btn1  hvr-radial-out"><a href="https://www.linkedin.com/in/vikraman-m-4067b5252"></a><i class="fa-brands fa-linkedin"></i></button>          
            <button class="net-btn2  hvr-radial-out"><a href="https://www.instagram.com/romanviki_nbd/"></a><i class="fa-brands fa-instagram"></i></i></button>
            <button class="net-btn3  hvr-radial-out"><a href="https://github.com/ROMANVIKI"></a><i class="fa-brands fa-github"></i></button>          
        </div>
        
    
    </header>
    <script>
        const toggleBtn = document.querySelector('.toggle_btn')
        const toggleBtnIcon = document.querySelector('.toggle_btn i')
        const dropDownMenu = document.querySelector('.dropdown_menu')

        toggleBtn.onclick = function () {
            dropDownMenu.classList.toggle('open')
        }
    </script>
</body>

</html>